.chat {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #c7d2fe;
}
.chat__header {
  width: 100%;
  height: 6%;
  background-color: #c7d2fe;
  padding: 0 2vmin;
  display: flex;
  align-items: center;
}
.chat__messageContainer {
  width: 100%;
  height: 86%;
  padding: 1vmin 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.chat__message {
  margin: 0.5vmin;
  max-width: 60%;
}
.chat__message > span {
  font-size: 2vmin;
  padding: 0.5vmin 1vmin;
  color: #4b5563;
}
.chat__message > p {
  font-size: 2.5vmin;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 1vmin 2vmin;
}
.receivedMessage {
  align-self: flex-start;
}
.receivedMessage > p {
  background-color: #c7d2fe;
}
.sentMessage {
  align-self: flex-end;
}
.sentMessage > p {
  background-color: #d1d5db;
}
