.sidebar {
  width: 25%;
  height: 100%;
  background-color: #f9fafb;
  padding: 2vmin;
  overflow: auto;
}
.sidebar__user {
  font-size: 2.5vmin;
  padding: 1vmin 0;
}
.sidebar__header {
  font-size: 3vmin;
}
.sidebar__userList {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidebar__userList a {
  font-size: 2.5vmin;
  padding: 1vmin 0;
  text-decoration: none;
  color: black;
  transition: background-color 200ms ease-in-out;
}
.sidebar__userList a:hover {
  background-color: #dadada;
}
.sidebar__connectionStatus {
  font-size: 3vmin;
  line-height: 3vmin;
  margin-left: 0.5vmin;
}
