.navbar {
  width: 100vw;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}
.navbar__logo {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo img {
  height: 6vmin;
}
.navbar__logo span {
  font-size: 3vmin;
  font-weight: bold;
  color: #3b67b0;
}
